<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras/spring-security"/>
<head>
    <meta charset="UTF-8">
    <title> Zaynsys Home page</title>

</head>
<body>
<h2>
    Welcome to Homepage
</h2>
<hr>
<p>
    User : <span sec:authentication="principal.username"></span>
    <br>
    <br>
    Role(s) <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<hr>

<!-- Add a link to point to /leaders this is for managers.-->
<div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}"> leadership Meeting</a> (Only for managers)
    </p>

</div>
<!--For IT Admins only-->

<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">IT System Meetings</a> (Only for Admins)
    </p>
</div>


<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout"/>
</form>


</body>

</html>